* {
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: hsl(0, 0%, 81%);
}

.testimonial.one {
    position: relative;
    background-color: hsl(263, 55%, 52%);
}

.testimonial.two {
    background-color: hsl(217, 19%, 35%);
}

.testimonial.three {
    background-color: hsl(0, 0%, 100%);
}

.testimonial.four {
    background-color: hsl(219, 29%, 14%);
}

.testimonial.five {
    background-color: hsl(0, 0%, 100%);
}

.flex {
    display: flex;
    align-items: center;
    text-align: center;
}

.container-grid {
    justify-content: center;
    margin: 125px auto 125px auto;
    max-width: 1240px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px 10px;
    padding: 10px;
}

.testimonial {
    text-align: center;
    border-radius: 0.7rem;
    padding: 1.5rem;
}

.testimonial.quote {
    background-image: url("assets/img/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.testimonial img {
    width: 3.5rem;
    border-radius: 50%;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
}

.two {
    grid-column-start: 3;
    grid-column-end: 4;
}

.three {
    grid-row-start: 4;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 1;
}

.four {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.five {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
}